/* Style for the Typeahead suggestions dropdown */
.tt-menu {
    max-height: 400px;  /* Set a fixed height for the dropdown */
    overflow-y: auto;   /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
    border: 1px solid #ddd;
    background: #fff;
    z-index: 1000;      /* Ensure it appears on top */
}

#spinner-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hidden initially */
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%}

/* Style the dropdown */
.select-items {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 99;
}

/* Style the individual checkboxes */
.select-items label {
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

/* Style the checkboxes */
.select-items input {
    margin-right: 10px;
}

/* Style for the dropdown open button */
.dropdown-btn {
    display: block;
    width: 100%;
    padding: 0.46875rem 1.875rem 0.46875rem 0.625rem;
    -moz-padding-start: calc(0.625rem - 3px);
    font-size: 0.875rem;
    text-align: left;
    font-weight: 400;
    line-height: 1;
    max-height: 300px;
    color: #001737;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%233b4863' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 16px 12px;
    border: 1px solid #c0ccda;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

/* Caret icon for dropdown */
.caret {
    float: right;
    margin-top: 5px;
}

/* Hover effects */
.select-items label:hover {
    background-color: #f1f1f1;
}

.dropdown-btn:hover {
    background-color: #ddd;
}
.chart_canvas{
    height: 300px !important;
}
#chartBar1{
    height: 300px !important;
}
#chartBar2{
    max-height:250px;
}
.capitalize {
    text-transform: capitalize !important;
}
#anotherOpposed{
    all: unset;
    display: inline-block;
    background: transparent; 
    border: none; 
    padding: 0; 
    font: inherit; 
    cursor: pointer; 
    text-align: center; 
}
.nowrap{
    white-space: nowrap !important;
}
.tr_active{
    background-color: #f3f4f7 !important;
}